! Config file for X applications (e.g. xterm)
! To source this, run `xrdb <path to this file>`

! Combination of geometry and faceSize determines window size
XTerm*geometry: 80x24
XTerm*faceName: monospace
XTerm*faceSize: 10
XTerm*foreground: #A8A8A8
XTerm*background: #000000

! Set all rendered font colour to #A8A8A8
XTerm*color0: #A8A8A8  
XTerm*color1: #A8A8A8 
XTerm*color2: #43A18A 
XTerm*color3: #A8A8A8 
XTerm*color4: #A8A8A8 
XTerm*color5: #A8A8A8 
XTerm*color6: #A8A8A8 
XTerm*color7: #A8A8A8 
XTerm*color8: #A8A8A8 
XTerm*color9: #A8A8A8 
XTerm*color10: #43A18A 
XTerm*color11: #A8A8A8 
XTerm*color12: #A8A8A8 
XTerm*color13: #A8A8A8 
XTerm*color14: #A8A8A8 
XTerm*color15: #A8A8A8 

! DPI of 192 is for Resolution of 3820x2160 scaled at 200%
Xft.dpi: 192

Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xcursor.size: 48

! Dont think this has any effects on the cursor in XTerm
! But setting this to Yaru for other potential X applications
Xcursor.theme: Yaru
