! Config file for X applications (e.g. xterm)
! To source this, run `xrdb <path to this file>`

! Combination of geometry and faceSize determines window size
XTerm*geometry: 90x24
XTerm*faceName: monospace
XTerm*faceSize: 25
XTerm*foreground: #A8A8A8
XTerm*background: #000000

! A method to set mouse pointer size to GNOME default size (and style)
XTerm*cursorTheme: Adwaita

! Set all rendered font colour to #A8A8A8
xterm*color0: #A8A8A8  
xterm*color1: #A8A8A8 
xterm*color2: #43A18A 
xterm*color3: #A8A8A8 
xterm*color4: #A8A8A8 
xterm*color5: #A8A8A8 
xterm*color6: #A8A8A8 
xterm*color7: #A8A8A8 
xterm*color8: #A8A8A8 
xterm*color9: #A8A8A8 
xterm*color10: #43A18A 
xterm*color11: #A8A8A8 
xterm*color12: #A8A8A8 
xterm*color13: #A8A8A8 
xterm*color14: #A8A8A8 
xterm*color15: #A8A8A8 

