! Config file for X applications (e.g. xterm)
! To source this, run `xrdb <path to this file>`
! To update xresource, run `xrdb -merge <path to this file>`

! Combination of geometry and faceSize determines window size
XTerm*geometry: 85x24
XTerm*faceName: monospace
XTerm*faceSize: 10
XTerm*foreground: #9C9C9C
XTerm*background: #000000

! Cursor
! Cursor blink
XTerm*cursorBlink: false
! Cursor color
XTerm*cursorColor: #9C9C9C
! Cursor shape is block by default in xterm so no configuration needed

! Scroll bar
XTerm*scrollBar: false

! Set all rendered font colour
! black
XTerm*color0: #000000
! darkred
XTerm*color1: #BC4545
! darkgreen
XTerm*color2: #45BCA6
! brown
XTerm*color3: #9C9C9C
! darkblue
XTerm*color4: #9C9C9C
! darkmagenta
XTerm*color5: #9C9C9C
! darkcyan
XTerm*color6: #9C9C9C
! lightgrey
XTerm*color7: #9C9C9C
! darkgrey
XTerm*color8: #666666
! red
XTerm*color9: #BC4545
! green
XTerm*color10: #45BCA6
! yellow
XTerm*color11: #9C9C9C
! blue
XTerm*color12: #9C9C9C
! magenta
XTerm*color13: #9C9C9C
! cyan
XTerm*color14: #9C9C9C
! white
XTerm*color15: #9C9C9C

! DPI of 192 is for Resolution of 3820x2160 scaled at 200%
Xft.dpi: 192

Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xcursor.size: 48

! Dont think this has any effects on the cursor in XTerm
! But setting this to Yaru for other potential X applications
Xcursor.theme: Yaru
